<openmrs-breadcrumbs links="vm.links" xmlns="http://www.w3.org/1999/html"></openmrs-breadcrumbs>
<div id="body-wrapper">
    <h2>Patient Vaccines</h2>
    <div ng-show="vm.errors.length" class="vaccine-container toast-error">
        <span ng-repeat="error in vm.errors">{{ error }}</span>
    </div>
    <div ng-show="vm.vaccineEncounterErrors.length" class="vaccine-container toast-error">
        <span ng-repeat="error in vm.vaccineEncounterErrors">{{ error }}</span>
    </div>
    <div ng-if="vm.postVaccineSuccess" class="vaccine-container toast-success">
        Thank you, the new added record is saved successfully!
    </div>
    <div class="vaccine-container">
        <h5>Color key</h5>
        <ul>
            <li style="padding-bottom: 3px"><i class="icon-ok-sign success-label"></i> = Already given</li>
            <li  style="padding-bottom: 3px"><i class="icon-tag pending-label"></i> = Pending (Future Date)</li>
            <li><i class="icon-remove-sign missed-label"></i> = Missed</li>
        </ul>
    </div>
    <table class="vaccine-container administered-vaccine">
        <thead>
            <tr>
                <th>Vaccine</th>
                <th>Doses Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="config in vm.formatted">
            <td>{{ config.name }}</td>
            <td style="display:table-cell; padding: 5px; margin: 0 auto; -webkit-padding-before:0em; -webkit-padding-after: 0em; -webkit-padding-start: 0em; -webkit-padding-end: 0em;">
            <table class="inner-table">
                <tr>
                    <td ng-repeat="instance in config.instances" style="padding:0;">
                        <!--<div style="border:0 transparent; padding: 3px; margin:0px;">-->
                        <table class="inner-table-data">
                            <tr>
                                <td>
                                    <span ng-class="{'success-label': instance.administered, 'pending-label': instance.pending, 'missed-label': instance.missed, 'no-info-label': !instance.supposedDate }">
                                        {{ instance.dose | uppercase }}
                                        <i ng-if="instance.missed" class="icon-remove-sign"></i>
                                        <i ng-if="instance.administered" class="icon-ok-sign"></i>
                                        <i ng-if="instance.pending" class="icon-tag"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr ng-if="instance.supposedDate">
                                <td><span class="vertical-header">Date Expected:</span> {{ instance.supposedDate | moment }}</td>
                                <!--<td>{{ instance.supposedDate | moment }}</td>-->
                            </tr>
                            <tr ng-if="!instance.supposedDate">
                                <td class="vertical-header">Date Expected: No information</td>
                                <!--<td>No information</td>-->
                            </tr>
                            <tr ng-if="instance.administered">
                                <td class="vertical-header">Date Given: {{ instance.dateGiven | moment }}</td>
                                <!--<td>{{ instance.dateGiven | moment }}</td>-->
                            </tr>
                        </table>
                        <!--</div>-->
                    </td>
                </tr>
            </table>
            </td>
            <td>
                <button class="fancy-button" ng-click="vm.openRecordDialog(config, newVaccineAdministrationRecord)">
                    <!--<span class="icon-plus-sign"></span>-->Add
                </button>
            </td>
        </tr>
    </table>
    <!--<div>-->
        <!--<button ng-click="vm.recordVaccination()">Record Immunization</button>-->
    <!--</div>-->

    <!-- Record Vaccine Date Modal -->
    <div class="modal">
        <input class="modal-open" id="new-vaccination-dialog" type="checkbox" hidden/>
        <div class="modal-wrap" aria-hidden="true" role="dialog">
            <label class="modal-overlay" for="new-vaccination-dialog"></label>
            <div class="modal-dialog">
                <div class="modal-header">
                    {{ vm.newVaccinationRecord.configuration.name }}
                    <label class="btn-close" for="new-vaccination-dialog" aria-hidden="true"><i class="icon-remove"></i></label>
                </div>
                <div class="modal-body">
                    <form id="new-vaccine-record" class="sized-inputs css-form" name="newVaccineAdministrationRecord" novalidate>
                        <span id="success-message" class="toast-success" ng-show="vm.postVaccineSuccess">Record has been saved successfully!</span>
                        <label>Date Given</label>
                        <input type="text" id="date-given-picker" ng-model="vm.newVaccinationRecord.dateGiven" required/>
                        <select-provider provider="vm.newVaccinationRecord.provider" on-update="vm.onProviderUpdate(isCorrect, provider)" required="vm.providerRequired">
                        </select-provider>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="button-group">
                        <input type="button" value="Save" class="submitButton confirm right" ng-click="vm.saveVaccinationRecord()"
                               ng-disabled="newVaccineAdministrationRecord.$invalid || vm.saveCancelButtonsDisabled"/>
                        <!--<input type="button" class="cancel btn-close" ng-click="vm.cancel()" ng-disabled="vm.saveCancelButtonsDisabled" value="Cancel"/>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>