<div>
    <breadcrumbs-vc-create-component></breadcrumbs-vc-create-component>
</div>
<div>
    <table id="configurations-table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="vaccineConfiguration in $ctrl.vaccineConfigurations track by $index">
            <td>{{$index + 1}}</td>
            <td>{{ vaccineConfiguration.name }}</td>
            <td>{{ vaccineConfiguration.description }}</td>
            <td class="actions">
                <a ng-click=""><i class="icon-pencil edit-action"></i></a>
                <a ng-click=""><i class="icon-remove delete-action"></i></a>
            </td>
        </tr>
    </table>
    <div>
        <button ng-click="$ctrl.createConfiguration()">Create Configuration</button>
    </div>
</div>

